*{
    margin: 0;
  padding: 0;
}
.nav{
    display: flex;
    justify-content: center;
    gap: 30px;
    background-color: white;
    padding: 8px;
   
}
.nav :first-child{
    text-decoration: none;
    border: 2px solid rgb(135, 131, 131);
    padding: 9px 35px 9px 35px;
    border-radius: 8px;
    background-color: rgba(225, 222, 222, 0.484);
    box-shadow: 1px 1.5px 4px 1px;
}
.nav :last-child{
    text-decoration: none;
    border: 2px solid  rgb(135, 131, 131);;
    padding: 9px 35px 9px 35px;
border-radius: 8px;
    background-color: rgba(225, 222, 222, 0.484);
    box-shadow: 1px 1.5px 4px 1px;
}
.nav a{
    color: black;
    font-family: cursive;
    font-weight: 900;
}
.centre{
 display: flex;
 height: 100vh;
 flex-direction: column;
  justify-content: center;
 align-items: center;
 gap: 10px;   
}  
#clock{
    font-size: 40px;
    background-color: orange;
    padding: 20px 50px;
  border-radius: 10px;
  font-family: cursive;
}
#banner{
    font-family: cursive;
    font-size: 30px;
    font-weight: 800;
}
